body {
  font-family: Arial;
}

.opb {
  background-color: black;
  color: white;
}

.column {
  width: 50%;
  float: left;
} 

.box  {
  width: 50%;
  border: solid black;
  border-width: 1px;
  background-color: rgb(192, 212, 161);
  margin-bottom: 10px;
}

.projects-box {
  width: 40%;
  border: solid rgb(0, 0, 0);
  border-width: 1px;
  background-color: rgb(219, 239, 243);
}